[Unit]
Description=Chromium web browser
After=network.target

[Service]
UMask=0077
Environment=DISPLAY=:0
ExecStart=/usr/bin/chromium
KillSignal=SIGINT
StandardOutput=null

[Install]
WantedBy=graphical.target
