[Unit]
Description=Chromium web browser
After=xorg.target
Requires=xorg.target
After=network.target

[Service]
UMask=0077
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/dbus/user_bus_socket
Environment=DISPLAY=:0
EnvironmentFile=/etc/chromium/default
ExecStart=/usr/lib/chromium/chromium $CHROMIUM_FLAGS --disk-cache-dir=/tmp/lahwaacz-chromium-cache --disk-cache-size=104857600
KillSignal=SIGINT

[Install]
WantedBy=graphical.target
