[Unit]
Description=Dropbox daemon
After=network.target

[Service]
UMask=0077
Environment=DISPLAY=:0
ExecStart=/usr/bin/dropboxd
KillSignal=SIGINT
Restart=always
RestartSec=5
Nice=15
IOSchedulingClass=2
IOSchedulingPriority=7

[Install]
WantedBy=graphical.target
WantedBy=console.target
