[Unit]
Description=gpg-agent daemon

[Service]
UMask=0077
Type=forking
ExecStartPre=/usr/bin/gpgconf --create-socketdir
ExecStart=/usr/bin/gpg-agent --daemon --quiet
Restart=always
TimeoutSec=5

Environment=DISPLAY=:0
Environment=GTK2_RC_FILES=%h/.config/gtk-2.0/gtkrc-2.0
Environment=GNUPGHOME=%h/.config/gnupg

[Install]
WantedBy=console.target
WantedBy=graphical.target
