[Unit]
Description=MPD notifications using libnotify
After=mpd.service
Requires=mpd.service

[Service]
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/sleep 2
ExecStart=/home/lahwaacz/bin/mpd-notify
Restart=always
RestartSec=30s

[Install]
WantedBy=graphical.target
