[Unit]
Description=MPD notifications using libnotify
After=mpd.service
Requires=mpd.service
After=twmnd.service
Requires=twmnd.service

[Service]
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/dbus/user_bus_socket
Environment=DISPLAY=:0
ExecStart=/home/lahwaacz/bin/mpd-notify
Restart=always

[Install]
WantedBy=graphical.target
