[Unit]
Description=IMAP/Maildir synchronization tool
Wants=gpg-agent.service
After=gpg-agent.service

[Service]
UMask=0077
Type=simple
ExecStart=/usr/bin/offlineimap -u Quiet
KillSignal=SIGUSR2
Restart=always
TimeoutStopSec=10

Nice=15
IOSchedulingClass=2
IOSchedulingPriority=7

# gpg-agent socket - load explicitly, in case the agent was restarted, systemd has the old path
EnvironmentFile=/run/user/1000/gpg-agent-info
# display for pinentry
Environment=DISPLAY=:0
# necessary since v207
Environment=PATH=/home/lahwaacz/bin:/home/lahwaacz/Scripts:/usr/bin

[Install]
WantedBy=console.target
WantedBy=graphical.target
