[Unit]
Description=IMAP/Maildir synchronization tool
Wants=gpg-agent.service
After=gpg-agent.service

[Service]
UMask=0077
Type=simple
ExecStart=/usr/bin/offlineimap -u Quiet
Restart=always

# gpg-agent socket
EnvironmentFile=/run/user/1000/gpg-agent-info
# display for pinentry
Environment=DISPLAY=:0

[Install]
WantedBy=console.target
WantedBy=graphical.target
