[Unit]
Description=Pulse Audio Server
Requires=dbus.socket

[Service]
UMask=0077
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/dbus/user_bus_socket
Environment=DISPLAY=:0
RemainAfterExit=yes
ExecStart=/usr/bin/pulseaudio --start
ExecStop=/usr/bin/pulseaudio --kill

[Install]
WantedBy=graphical.target
WantedBy=console.target
