[Unit]
Description=Pulse Audio Server
Requires=dbus.socket

[Service]
UMask=0077
Environment=DISPLAY=:0
RemainAfterExit=yes
ExecStart=/usr/bin/pulseaudio --start
ExecStop=/usr/bin/pulseaudio --kill

[Install]
WantedBy=graphical.target
WantedBy=console.target
