[Unit]
Description=PulseAudio Sound System
Before=sound.target

[Service]
UMask=0077
BusName=org.pulseaudio.Server
RemainAfterExit=yes
ExecStart=/usr/bin/pulseaudio --start
ExecStop=/usr/bin/pulseaudio --kill

[Install]
WantedBy=graphical.target
WantedBy=console.target
