[Unit]
Description=qpdfview

[Service]
UMask=0077
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/dbus/user_bus_socket
Environment=DISPLAY=:0
ExecStart=/usr/bin/qpdfview --unique

# for GTK styles in Qt
Environment=GTK2_RC_FILES=%h/.gtkrc-2.0

[Install]
WantedBy=graphical.target
