[Unit]
Description=spectrwm
After=xorg.target
Requires=xorg.target
Before=graphical.target

[Service]
# for GTK styles in Qt
Environment=GTK2_RC_FILES=/home/lahwaacz/.gtkrc-2.0

Environment=PATH=/home/lahwaacz/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=DISPLAY=:0
UMask=0077
ExecStart=/usr/bin/spectrwm
Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
