[Unit]
Description=Weekly Timer

[Timer]
OnCalendar=Sun *-*-* 21:00:00
Unit=timer-weekly.target

[Install]
WantedBy=console.target
WantedBy=graphical.target
