[Unit]
Description=twmn daemon
After=xorg.target
Requires=xorg.target

[Service]
UMask=0077
Environment=DISPLAY=:0
ExecStart=/usr/bin/twmnd
Restart=always

[Install]
WantedBy=graphical.target
