[Unit]
Description=twmn daemon

[Service]
UMask=0077
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/dbus/user_bus_socket
Environment=DISPLAY=:0
ExecStart=/usr/bin/twmnd
Restart=always

[Install]
WantedBy=graphical.target
