[Unit]
Description=Urxvt Daemon

[Service]
UMask=0077
Environment=DISPLAY=:0
ExecStart=/usr/bin/urxvtd
TimeoutStopSec=10

[Install]
WantedBy=graphical.target
