[Unit]
Description=Window manager target
Wants=graphical.target
Before=graphical.target
Requires=dbus.socket
AllowIsolate=true
BindsTo=wmfs.service

[Install]
Alias=default.target
