[Unit]
Description=create daily rsnapshots

[Service]
Type=oneshot
ExecStart=/usr/bin/rsnapshot -c %h/.config/rsnapshot.conf weekly
UMask=0077

Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7

