[Unit]
Description=i3-wm
After=xorg.target
Requires=xorg.target

[Service]
UMask=0077
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3
ExecReload=/usr/bin/i3-msg reload
Restart=always

# FIXME: with i3, this leaves running processes after running 'systemctl --user exit' and also when i3 fails and is restarted, some windows are lost (though process is still running)
#KillMode=process
