[Unit]
Description=Disable touchpad when mouse detected
ConditionPathExists=/dev/input/mouse0
ConditionPathExists=/dev/input/mouse1
After=xorg.service

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/synclient TouchpadOff=1
