# Start at sdb to avoid system harddrive. 
KERNEL!="sd[b-z][1-9]", GOTO="exit"

# Import FS infos
IMPORT{program}="/sbin/blkid -o udev -p %N"

# Get a label if present, otherwise specify one
ENV{ID_FS_LABEL}!="", ENV{dir_name}="%E{ID_FS_LABEL}"
ENV{ID_FS_LABEL}=="", ENV{dir_name}="%k"

# Global mount options
ACTION=="add", ENV{pmount_options}="--noatime"
# Filesystem-specific mount options
ACTION=="add", ENV{ID_FS_TYPE}=="vfat|ntfs", ENV{pmount_options}="$env{pmount_options} --charset utf8 --fmask 0177 --dmask 0077"

# Mount the device
ACTION=="add", RUN+="/bin/su lahwaacz -c '/usr/bin/pmount $env{pmount_options} /dev/%k /media/%E{dir_name}'"

# Clean up after removal
ACTION=="remove", ENV{dir_name}!="", RUN+="/usr/bin/pumount /dev/%k"

# Exit
LABEL="exit"
