[Desktop Entry]
Name=FuseUnmounter
Comment=Unmount archive using FuseMounter.py
Exec=/home/lahwaacz/bin/fmount.py -X umount %F
Icon=archive
Terminal=false
Type=Application
Categories=Utility;
